<%@ Master Language="C#" AutoEventWireup="true" CodeFile="FormMaster.master.cs" Inherits="FormMaster" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />

    <meta property="og:title" content="Form - Nortwest College" />
    <%--<meta property="og:description" content="Fill out the form in English. You can select the language to help you fill out the form." />--%>
    <meta property="og:url" content="https://website.nortwest.edu.au/" />

    <title>
        <asp:ContentPlaceHolder ID="title" runat="server">
        </asp:ContentPlaceHolder>
    </title>

    <link rel="shortcut icon" href="assets/img/favicon_icon.png" type="image/x-icon" />

    <!-- ========== Start Stylesheet ========== -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="assets/css/flaticon-set.css" rel="stylesheet" />
    <link href="assets/css/themify-icons.css" rel="stylesheet" />
    <link href="assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="assets/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="assets/css/animate.css" rel="stylesheet" />
    <link href="assets/css/bootsnav.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/css/responsive.css" rel="stylesheet" />

    <!-- ========== Custom Stylesheet ========== -->
    <link href="assets/css/My_Style.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800" rel="stylesheet" />


    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <style>
        .grecaptcha-badge {
            opacity: 0 !important;
            pointer-events: none !important;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">

        <!-- Preloader Start -->
        <div class="se-pre-con"></div>
        <!-- Preloader Ends -->

        <!-- Start Header Top 
    ============================================= -->
        <div class="top-bar-area bg-dark text-light">
            <div class="container">
                <div class="row">

                    <%--  <div class="col-md-8 address-info text-left">
                        <div class="info">
                            <ul>
                                <li class="social">
                                    <a href="https://www.facebook.com/nortwestedu/"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="https://www.linkedin.com/company/nortwesteducation/"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                </li>
                              
                                <li>
                                    <i class="fas fa-phone"></i>Contact: <strong>+61 426 254 486</strong>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4 link text-right">
                        <ul>

                            <li>
                                <a href="https://appform.nortwest.edu.au/">Apply Now</a>
                            </li>
                        </ul>
                    </div>--%>
                </div>
            </div>
        </div>
        <!-- End Header Top -->

        <!-- Header 
    ============================================= -->
        <header id="home">

            <!-- Start Navigation -->
            <nav class="navbar navbar-default brand-center navbar-sticky bootsnav">
                <div class="container-fluid">

                    <!-- Start Header Navigation -->
                    <div class="navbar-header">

                        <a class="navbar-brand" href="https://nortwest.edu.au/">
                            <img src="assets/img/logo_nwc_transp@1x.png" style="height: 50px" class="logo" alt="Logo">
                        </a>
                    </div>
                    <!-- End Header Navigation -->

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav" data-in="#" data-out="#">
                            <li>
                                <a href="https://nortwest.edu.au/">&nbsp;</a>
                            </li>


                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
            </nav>
            <!-- End Navigation -->

        </header>
        <!-- End Header -->


        <asp:ContentPlaceHolder ID="body" runat="server">
        </asp:ContentPlaceHolder>


        <footer class="bg-dark text-light">
            <div class="container">

                <div class="f-items campus_fotter" style="padding-top: 50px; padding-bottom: 50px; border-bottom: 1px solid #48b2a2;">
                    <div class="row">
                        <div class="site-heading text-center">
                            <div class="col-md-8 col-md-offset-2">
                                <h2>OUR LOCATIONS</h2>
                            </div>
                        </div>
                        <!-- Single item -->
                        <div class="col-md-3 col-sm-6 equal-height" style="border-right: 1px solid #6aa79d;">

                            <div class="item">
                                <div class="info campus_info">
                                    <h4>
                                        <a href="#">GEORGE STREET CAMPUS</a>
                                    </h4>

                                    <p style="font-size: 13px">
                                        <a href="tel:+61 449 955 272">
                                            <i class="fas fa-mobile">&nbsp&nbsp</i>+61 449 955 272
                                        </a>
                                    </p>
                                    <p style="font-size: 13px">
                                        <a href="#">
                                            <i class="fas fa-envelope">&nbsp&nbsp</i>sso@nortwest.edu.au
                                        </a>
                                    </p>
                                    <p style="font-size: 13px">

                                        <a href="#">
                                            <i class="fas fa-map">&nbsp&nbsp</i>LEVEL2, 531 GEORGE STREET SYDNEY NSW 2000 Australia
                                        </a>
                                    </p>

                                </div>
                            </div>

                        </div>
                        <div class="col-md-3 col-sm-6 equal-height" style="border-right: 1px solid #6aa79d;">
                            <div class="item">

                                <div class="info campus_info">
                                    <h4>
                                        <a href="#">York Street Campus</a>
                                    </h4>

                                    <p style="font-size: 13px">
                                        <a href="tel:+61 469 738 090">
                                            <i class="fas fa-mobile">&nbsp&nbsp</i>+61 469 738 090
                                        </a>
                                    </p>

                                    <p style="font-size: 13px">
                                        <a href="mailto:englishsso@nortwest.edu.au">
                                            <i class="fas fa-envelope">&nbsp&nbsp</i>englishsso@nortwest.edu.au
                                        </a>
                                    </p>
                                    <p style="font-size: 13px">

                                        <a href="#">
                                            <i class="fas fa-map">&nbsp&nbsp</i>Level 2, The Grace Hotel Building 77 York Street Sydney NSW 2000 Australia
                                        </a>
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 equal-height" style="border-right: 1px solid #6aa79d;">
                            <div class="item">

                                <div class="info campus_info">
                                    <h4>
                                        <a href="#">Adelaide Campus</a>
                                    </h4>

                                    <p style="font-size: 13px">
                                        <a href="tel:+61 492 938 782">
                                            <i class="fas fa-mobile">&nbsp&nbsp</i>+61 492 938 782
                                        </a>
                                    </p>

                                    <p style="font-size: 13px">
                                        <a href="mailto:sso@nortwest.edu.au">
                                            <i class="fas fa-envelope">&nbsp&nbsp</i>sso@nortwest.edu.au
                                        </a>
                                    </p>
                                    <p style="font-size: 13px">
                                        <a href="mailto:englishsso@nortwest.edu.au">
                                            <i class="fas fa-envelope">&nbsp&nbsp</i>englishsso@nortwest.edu.au
                                        </a>
                                    </p>
                                    <p style="font-size: 13px">

                                        <a href="#">
                                            <i class="fas fa-map">&nbsp&nbsp</i>Suite 1,Level 2 66-68 Grenfell Street Adelaide SA 5000 Australia
                                        </a>
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 equal-height">
                            <div class="item">

                                <div class="info campus_info">
                                    <h4>
                                        <a href="#">MELBOURNE CAMPUS</a>
                                    </h4>

                                    <p style="font-size: 13px">
                                        <a href="tel:+61 426 254 486">
                                            <i class="fas fa-mobile">&nbsp&nbsp</i>+61 426 254 486
                                        </a>
                                    </p>
                                    <p style="font-size: 13px">
                                        <a href="mailto:sso@nortwest.edu.au">
                                            <i class="fas fa-envelope">&nbsp&nbsp</i>sso@nortwest.edu.au
                                        </a>
                                    </p>
                                    <p style="font-size: 13px">
                                        <a href="mailto:englishsso@nortwest.edu.au">
                                            <i class="fas fa-envelope">&nbsp&nbsp</i>englishsso@nortwest.edu.au
                                        </a>
                                    </p>
                                    <p style="font-size: 13px">

                                        <a href="#">
                                            <i class="fas fa-map">&nbsp&nbsp</i>Level 9, 108 Lonsdale st, Melbourne VIC
                                        </a>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Start Footer Bottom -->
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10">
                            <p>&copy; Nortwest Pty Ltd, ABN 17 123 969 175, CRICOS 03256G, RTO ID 91781 Trading as Nortwest College All rights reserved <a href="#">Powered by HL Group</a></p>
                        </div>
                        <div class="col-md-2 text-right">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/nortwestedu/">
                                        <img style="width: 23px;" src="assets/img/facebook.png" /></a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/nortwesteducation/">
                                        <img style="width: 23px;" src="assets/img/instagram.png" /></a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img style="width: 23px;" src="assets/img/youtube.png" /></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Footer Bottom -->
        </footer>

        <img src="assets/img/whatsapp.png" alt="WhatsApp" data-toggle="modal" data-target="#myModal" class="whatsapp-icon_main fixed-bottom-left" />


        <!-- The Modal -->
        <div class="modal wtsp_modal" id="myModal">
            <div class="modal-dialog modal-dialog-centered modal_fixed_left" style="width: 360px">
                <div class="modal-content">

                    <div class="modal-header" style="background: rgb(9, 94, 84); display: flex; align-items: center;">
                        <a href="https://nortwest.edu.au/" class="modal-title" style="margin-right: 10px;">
                            <img src="assets/img/whatsapp_white.png" style="width: 40px; object-fit: contain" alt="Alternate Text" />
                        </a>
                        <div>
                            <p style="margin: 0; color: white; font-weight: 700; /* font-size: unset; */margin-left: 7px;">Nortwest Pty Ltd</p>
                            <p style="margin: 0; color: white; margin-left: 7px; margin-left: 7px; font-size: 12px;">
                                Online
                            </p>
                        </div>
                    </div>


                    <div class="modal-body" style="background: url(https://i.pinimg.com/736x/8c/98/99/8c98994518b575bfd8c949e91d20548b.jpg); position: relative;">
                        <div class="overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgb(230 221 212 / 75%)"></div>
                        <%--<div class="msg" style="width: 230px; position: relative; border-radius: 8px; padding: 10px 5px 0px 11px; color: black; background: white">

                            <p>Hii there 👋</p>
                            <p style="padding-bottom: 10px;">
                                How Can I Help You ?
                            </p>
                        </div>--%>
                        <div class="profile-container">
                            <a href="https://api.whatsapp.com/send?phone=61449955272">
                                <div class="profile-content">

                                    <div class="whatsapp-icon">
                                        <img src="assets/img/whatsapp_msg.png" alt="WhatsApp" class="whatsapp-img">
                                    </div>

                                    <!-- Right side - Company name and contact number -->
                                    <div class="company-details">
                                        <h3 class="company-name">Nortwest - George Street, Sydney</h3>
                                        <p class="contact-number">Need Help ?</p>
                                    </div>

                                </div>
                            </a>
                        </div>
                        <div class="profile-container">
                            <a href="https://api.whatsapp.com/send?phone=61449955272">
                                <div class="profile-content">

                                    <div class="whatsapp-icon">
                                        <img src="assets/img/whatsapp_msg.png" alt="WhatsApp" class="whatsapp-img">
                                    </div>

                                    <!-- Right side - Company name and contact number -->
                                    <div class="company-details">
                                        <h3 class="company-name">Nortwest - York Street, Sydney</h3>
                                        <p class="contact-number">Need Help ?</p>
                                    </div>

                                </div>
                            </a>
                        </div>

                        <div class="profile-container">
                            <a href="https://api.whatsapp.com/send?phone=61449955272">
                                <div class="profile-content">

                                    <div class="whatsapp-icon">
                                        <img src="assets/img/whatsapp_msg.png" alt="WhatsApp" class="whatsapp-img">
                                    </div>

                                    <!-- Right side - Company name and contact number -->
                                    <div class="company-details">
                                        <h3 class="company-name">Nortwest - Melbourne</h3>
                                        <p class="contact-number">Need Help ?</p>
                                    </div>

                                </div>
                            </a>
                        </div>

                        <div class="profile-container">
                            <a href="https://api.whatsapp.com/send?phone=61449955272">
                                <div class="profile-content">

                                    <div class="whatsapp-icon">
                                        <img src="assets/img/whatsapp_msg.png" alt="WhatsApp" class="whatsapp-img">
                                    </div>

                                    <!-- Right side - Company name and contact number -->
                                    <div class="company-details">
                                        <h3 class="company-name">Nortwest - Adelaide</h3>
                                        <p class="contact-number">Need Help ?</p>
                                    </div>

                                </div>
                            </a>
                        </div>
                    </div>

                    <%--<!-- Modal Footer -->
                    <div class="modal-footer">
                        <div class="col-md-12">
                            <a class="text-center btn btn-success form-control" href="https://wa.me/+919913324044" target="_blank" style="border-radius: 20px; background-color: #095e54;">
                                <i class="fa fa-message"></i>Start Chat</a>
                        </div>
                    </div>--%>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            // 1. Block Right-Click
            document.addEventListener('contextmenu', function (e) {
                e.preventDefault();
            }, false);

            // 2. Block Keyboard Shortcuts
            document.addEventListener('keydown', function (e) {
                // Block Ctrl+U (View Source)
                if (e.ctrlKey && (e.keyCode === 85 || e.key === 'u')) {
                    e.preventDefault();
                    return false;
                }

                // Block Ctrl+Shift+I, Ctrl+Shift+J, or F12 (Developer Tools)
                if (
                    e.keyCode === 123 || // F12
                    (e.ctrlKey && e.shiftKey && (e.keyCode === 73 || e.key === 'I')) || // Ctrl+Shift+I
                    (e.ctrlKey && e.shiftKey && (e.keyCode === 74 || e.key === 'J'))    // Ctrl+Shift+J
                ) {
                    e.preventDefault();
                    return false;
                }

                if (e.ctrlKey && (e.keyCode === 83 || e.key === 's')) {
                    e.preventDefault();
                    return false;
                }
            });
        </script>
        <!-- jQuery Frameworks
    ============================================= -->
        <script src="assets/js/jquery-1.12.4.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/equal-height.min.js"></script>
        <script src="assets/js/jquery.appear.js"></script>
        <script src="assets/js/jquery.easing.min.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <script src="assets/js/modernizr.custom.13711.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/progress-bar.min.js"></script>
        <script src="assets/js/isotope.pkgd.min.js"></script>
        <script src="assets/js/imagesloaded.pkgd.min.js"></script>
        <script src="assets/js/count-to.js"></script>
        <script src="assets/js/YTPlayer.min.js"></script>
        <script src="assets/js/loopcounter.js"></script>
        <script src="assets/js/jquery.nice-select.min.js"></script>
        <script src="assets/js/bootsnav.js"></script>
        <script src="assets/js/main.js"></script>

        <asp:ContentPlaceHolder ID="jqury" runat="server">
        </asp:ContentPlaceHolder>
    </form>
</body>
</html>
