<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </buildProviders>
    </compilation>

    <httpRuntime targetFramework="4.5" maxRequestLength="51200" executionTimeout="3600" />
    <customErrors mode="Off" />

  </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="WebForms" />
  </appSettings>

 
    <system.webServer>
      <rewrite>
        <rules>
          <!-- Old programs category -->
          <rule name="Redirect programs category" stopProcessing="true">
            <match url="^category/programs/?$" />
            <action type="Redirect" url="/Courses.aspx" redirectType="Permanent" />
          </rule>

          <!-- britts-lln-test -->
          <rule name="Redirect britts-lln-test" stopProcessing="true">
            <match url="^britts-lln-test/?$" />
            <action type="Redirect" url="https://lln.brittscollege.edu.au/" redirectType="Permanent" />
          </rule>

          <!-- Additional redirects -->
          <rule name="Redirect college-courses" stopProcessing="true">
            <match url="^college-courses/?$" />
            <action type="Redirect" url="/Courses.aspx" redirectType="Permanent" />
          </rule>

          <rule name="Redirect melbourne-campus" stopProcessing="true">
            <match url="^melbourne-campus/?$" />
            <action type="Redirect" url="/Melbourne_Campus.aspx" redirectType="Permanent" />
          </rule>

          <rule name="Redirect intake-dates" stopProcessing="true">
            <match url="^intake-dates/?$" />
            <action type="Redirect" url="/academic_enrolment_calenda.aspx" redirectType="Permanent" />
          </rule>

          <rule name="Redirect adelaide-campus-2" stopProcessing="true">
            <match url="^adelaide-campus-2/?$" />
            <action type="Redirect" url="/adelaide_campus.aspx" redirectType="Permanent" />
          </rule>

          <rule name="Redirect sydney-campus-2" stopProcessing="true">
            <match url="^sydney-campus-2/?$" />
            <action type="Redirect" url="/George_Street_Campus.aspx" redirectType="Permanent" />
          </rule>

          <rule name="Redirect contact-us" stopProcessing="true">
            <match url="^contact-us/?$" />
            <action type="Redirect" url="/Contact_Us.aspx" redirectType="Permanent" />
          </rule>

          <rule name="Redirect english-courses" stopProcessing="true">
            <match url="^english-courses/?$" />
            <action type="Redirect" url="/Project_Management.aspx?page_name=English" redirectType="Permanent" />
          </rule>
			<rule name="Redirect english-courses" stopProcessing="true">
				<match url="^student-vet-orientation-form/?$" />
				<action type="Redirect" url="/new_vet_orientation_form.aspx" redirectType="Permanent" />
			</rule>
        </rules>
      </rewrite>
    </system.webServer>



    <connectionStrings>
    <add name="myConnectionString" connectionString="Data Source=103.190.26.178,8082; Initial Catalog=nortwest_website; Max Pool Size=2000; User ID=nortwest_website; Password=Hardik@5566;"/>
    <add name="server_url" connectionString="https://nortwest.edu.au/"/>
  </connectionStrings>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true"/>
      </rptBuildProvider>
    </crystalReports>
  </businessObjects>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
        <!-- 50 MB -->
      </requestFiltering>
    </security>
  </system.webServer>

</configuration>